<%= content_tag(:div, nil, class: 'uploader', data: {
  uploader_url: url,
  uploader_status_url: status_url,
  uploader_iframe_redirect_url: iframe_redirect_url,
  uploader_params: uploader_params.to_json,
  uploader_error_message: error_message
}) do %>
  <div class="uploader-button-container">
    <input type="file" name="file">
    <%= input %>
    <button class="btn" data-uploader-button="true"><i class="icon-upload"></i> <%= upload_label %></button>
  </div>

  <div class="uploader-progress">
    <div class="progress">
      <div class="bar"></div>
    </div>
  </div>

  <div class="uploader-details">
    <a href="" class="uploader-filename"></a>

    <div class="uploader-text-progress">
      <span class="uploader-percentual" data-uploader-after="<%= percentage_separator %>"></span>
      <span class="uploader-loaded-size" data-uploader-after="<%= loaded_to_total_size %>"></span>
      <span class="uploader-total-size"></span>
    </div>

    <div class="uploader-error"></div>

    <a href="" class="uploader-remove-file"><i class="icon-remove"></i></a>
  </div>
<% end %>
