<%= content_tag(:div, nil, class: "uploader #{'uploader-existing' if file.present?}", data: {
  uploader_url: url,
  uploader_status_url: status_url,
  uploader_iframe_redirect_url: iframe_redirect_url,
  uploader_params: uploader_params.to_json,
  uploader_file: file.to_json,
  uploader_messages: messages,
  uploader_pusher_api_key: pusher_api_key,
  uploader_pusher_channel: pusher_channel
}) do %>
  <div class="uploader-button-container">
    <input type="file" name="file">
    <%= input %>
    <button class="btn" data-uploader-button="true"><i class="dui-icon-upload"></i> <%= upload_label %></button>
  </div>

  <div class="uploader-progress">
    <div class="progress progress-striped active">
      <div class="bar"></div>
    </div>
  </div>

  <div class="uploader-details">
    <a href="" class="uploader-filename" target="_blank"></a>

    <div class="uploader-text-progress">
      <span class="uploader-percentual" data-uploader-after="<%= percentage_separator %>"></span>
      <span class="uploader-loaded-size" data-uploader-after="<%= loaded_to_total_size %>"></span>
      <span class="uploader-total-size"></span>
    </div>

    <div class="uploader-message"></div>

    <a href="" class="uploader-remove-file"><i class="dui-icon-remove"></i></a>
  </div>
<% end %>
