<div class="multi-select <%= multi_select_additional_classes %>">
  <div class="available" data-url="<%= multi_select_available_url %>">
    <div class="multi-select-title">
      <h4><%=raw multi_select_available_title %></h4>
    </div>

    <div class="multi-select-actions">

      <div class="multi-select-search input-prepend">
        <span class="add-on"><i class="icon-search"></i></span>
        <%= text_field_tag "search", nil, placeholder: multi_select_search_placeholder %>
        <a class="close clear-search hide" href="#">&times;</a>
      </div>

      <%= link_to '#', class: 'btn btn-mini multi-select-all-button' do %>
        <%=raw multi_select_all_label %>
        <i class="multi-select-icon"></i>
      <% end %>
    </div>

    <div class="multi-select-content">
      <ul>
      </ul>
    </div>

    <%= render multi_select_available_template, message: multi_select_no_available_items_message %>
  </div>

  <div class="selected">
    <div class="multi-select-title">
      <h4><%=raw multi_select_selected_title %></h4>
    </div>

    <div class="multi-select-actions">
      <%=raw multi_select_selected_actions_content %>

      <%= link_to '#', class: 'btn btn-mini multi-select-all-button' do %>
        <%=raw multi_select_all_label %>
        <i class="multi-select-icon"></i>
      <% end %>
    </div>

    <div class="multi-select-content">
      <ul>
      </ul>
    </div>

    <%= render multi_select_selected_template, message: multi_select_no_selected_items_message %>
  </div>
</div>
