<div id="<%= collection_name.titleize.parameterize %>" class="crud-box widget-box">
  <div class="crud-box-header widget-header">
    <div class="widget-toolbar no-border">
      <button class="btn btn-default btn-primary btn-xs" data-add-button="true">
        <i class="icon icon-plus-circle"></i> <%= t("interface.#{collection_name}.add") %>
      </button>
    </div>
    <h5><%= t("interface.#{collection_name}.title") %></h5>
  </div>
  <div class="crud-box-content widget-body">
    <div class="crud-box-new-form"
         data-toggler-close=".crud-box-edit-form, .crud-box-destroy-form"
         data-success-message="<%= t("flash.#{collection_name}.create.notice",
                                    resource_name: model.class.model_name.human) %>"
         data-failed-message="<%= t("flash.#{collection_name}.create.alert_html") %>">

        <%= render "dui/crud_box/form_head", resource: model %>
    </div>

    <div class="crud-box-edit-form"
         data-toggler-close=".crud-box-new-form, .crud-box-destroy-form"
         data-error-message="<%= t("flash.#{collection_name}.edit.alert") %>"
         data-success-message="<%= t("flash.#{collection_name}.update.notice", resource_name: model.class.model_name.human) %>"
         data-failed-message="<%= t("flash.#{collection_name}.update.alert_html") %>">

      <%= render "dui/crud_box/form_head", resource: model %>
    </div>

    <div class="crud-box-destroy-form"
         data-toggler-close=".crud-box-new-form, .crud-box-edit-form">

      <%= render "dui/crud_box/destroy", resource: model,
                                     collection_name: collection_name %>
    </div>

    <div class="crud-box-list"
         data-url="<%= main_app.send("#{collection_name}_path") %>"
         data-error-message="<%= t("flash.#{collection_name}.listing.alert") %>"
         data-confirmable-labels="<%= t("confirmable.#{collection_name}").to_json %>"
         data-confirmable-messages="<%= t("flash.#{collection_name}.destroy",  resource_name: model.class.model_name.human).to_json %>">
      <%= render "#{collection_name}/index",
                      collection: collection || resource.send(collection_name) %>
    </div>
  </div>
</div>
