<h4><%= t("confirmable.#{collection_name}.title") %></h4>
<p><%= t("confirmable.#{collection_name}.body") %></p>

<div class="form-actions">
  <%= link_to '', class: 'btn btn-sm btn-default hide-label-xs', data: { close: true }, tabindex: -1 do %>
    <i class="icon icon-times-circle"></i>
    <%= t('interface.buttons.close') %>
  <% end %>

  <%= button_tag class: 'btn btn-sm btn-danger hide-label-xs', data: { confirmable_confirm: true, disable_with: t("confirmable.#{collection_name}.disable_with") } do %>
    <i class="icon icon-trash-o bigger-130"></i>
    <%= t("confirmable.#{collection_name}.confirm") %>
  <% end -%>
</div>
