<%= content_tag :div, class: "multi-select #{additional_classes}", data: data do %>
  <div class="available" data-url="<%= available_url %>">
    <%= render 'dui/multi_select/title', title: available_title %>

    <div class="multi-select-actions">
      <%= render 'dui/multi_select/search', search_placeholder: search_placeholder %>
      <%= raw available_actions_content %>
      <%= render 'dui/multi_select/all_button', all_label: all_label %>
    </div>

    <div class="multi-select-content">
      <%= render content_template %>
    </div>

    <%= render available_template, message: no_available_items_message %>
  </div>

  <div class="selected">
    <%= render 'dui/multi_select/title', title: selected_title %>

    <div class="multi-select-actions">
      <%= raw selected_actions_content %>
      <%= render 'dui/multi_select/all_button', all_label: all_label %>
    </div>

    <div class="multi-select-content">
      <%= render content_template %>
    </div>

    <%= render selected_template, message: no_selected_items_message %>
  </div>
<% end %>
